.pace .pace-progress {background: #1f49d3;}
.bigIcon,.socialList li a:hover{color: #1f49d3;}
.btn-new,.downloadNumber{background: #1f49d3}
.btn-new:hover,.btn-new:focus{background: #1f49d3}
#share{background-color: #1f49d3;}
ul.nav li a.blogLi{color: #1f49d3;}